<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/home/user/becode/Projet_MVC/assets/CSS/index.css">
  <title>Didier Motte</title>
</head>
<body>
  <section id="content">
    <h1>Didier Motte</h1>
    <img src="/home/user/becode/Projet_MVC/assets/img/imgdidier-grosplan-bw-o.png" alt="Didier Motte">
    <h3>Les meubles ont une histoire, authentique.</h3>
    <p>Toujours à la recherche de l’extra-ordinaire, de l’insolite, fasciné par la « petite » histoire du monde, celle des métiers d’autrefois, Didier Motte fait partie de ces quelques connaisseurs, brocanteurs ou décorateurs qui, à travers leur regard et leur toucher, savent percevoir l’histoire des objets anciens pour leur donner une nouvelle légitimité esthétique et fonctionnelle.</p></br>
    <p><span>Je fais essentiellement des anciens meubles de commerce, des intérieurs complets de vieux magasins, bistrots, pharmacies… J’ai un entrepôt à Luttre, à Nivelles et à Haerelbeek . Si vous êtes dans le coin, vous pouvez venir jeter un coup d’oeil ( appelez-moi auparavant au 0495 205 934 ).  À bientôt! – Didier.</span></p></br>
    <h3>Services</h3>
    <p>Location de meubles et accessoires pour tournage.</p></br>
    <h3>Livraison</h3>
    <p>Livraison dans toute l’Europe & le monde.</p></br>
    <h3>Ils ont fait confiance</h3>
    <p><a href="#">ZAHIA</a> : ( Anvers , Gand , Brugge , Hasselt  ) Bijoux .</p>
    <p><a href="#">VINOPRES</a> : ( Bruxelles ) Publications sur le monde du vin .</p>
    <p><a href="#">LE RELAIS DU TRIPORTEUR</a> : ( Bruxelles ) Epicerie et restaurant Bio .</p>
    <p><a href="#">LES SUPER FILLES DU TRAM</a> : ( Bruxelles ) Restaurant .</p>
    <p><a href="#">INTAGLIO</a> : ( Paris ) Imprimeur , graveur , papier de créations .</p>
    <p><a href="#">VILLA ALICE</a> : ( Westande-bad ) Restaurant .</p>
    <p>MAMMUTI : ( Ile de Ré ) Galerie , appartements d’hôtes .</p>
    <p>ETABLISSEMENTS MAX BLOCH : ( Bruxelles ) Grossiste en tissus .</p>
    <p>RAW MATERIALS : ( Amsterdam ) Décoration .</p>
    <p>MONS 2015 : Restaurant La Maison Folie</p>
    <p>LA MERCERIE : ( Ixelles ) Salon de Thé et Dégustation</p>
    <p>MY ITALIAN FRIENDS : ( Waterloo ) Restaurant et design italien</p>
  </section>
</body>
