.main{
  height: 100vh;
}

.og-grid {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.og-grid li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    padding: 7px;
    vertical-align: middle;
    position: relative;
    width: 250px;
    min-height: 270px;
    height: auto;
    overflow: hidden;
    background: #272727;
        background-clip: border-box;
    border: 2px solid #272727;
    color: #F7F7F7;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background-clip: padding-box;
    z-index: auto;
}
